body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Crousels {
  max-width: 100%; /* Ensures carousel is responsive */
  max-height: 400px; /* Set the maximum height for the entire carousel */
  overflow: hidden;
}

.Crousels .carousel-item img {
  height: 400px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the images cover the area without distortion */
}


